.date {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .date-open {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .ant-form-item {
      &:nth-child(1), &:nth-child(2) {
        width: calc(50% - 8px);
      }
      
      .ant-picker {
        width: 100%;
      }
    }
  }

  .ant-form-item { 
    width: calc(50% - 8px);
    .ant-picker {
      width: 100%;
    }
  }
}

.black-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(270deg);
  margin: 0 auto 8px 22%;
}