@import './variables/mixins.scss';
@import './variables/fonst.scss';

html {
  width: auto !important;
  height: auto !important;
}

body {
  font-family: 'Commissioner' !important;
  font-size: 16px;
  width: 1080px !important;
  line-height: 16px !important;
  height: auto !important;
  margin: auto;
  @include w767  {
    width: 500px;
    padding: 20px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.ant-btn {
  transition: none !important
}

@import './blocks/home.scss';
@import './blocks/form.scss';
@import './blocks/commom/home-switch.scss';
@import './blocks/commom/form-individuals.scss';
@import './blocks/commom/form-legal.scss';
@import './blocks/commom/form-product.scss';
@import './blocks/commom/message-api.scss';